<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pandama.top.user.mapper.DeptMapper">

    <select id="list" resultType="com.pandama.top.user.entity.SysDept"
            parameterType="com.pandama.top.user.pojo.dto.DeptSearchDTO">
        select d.*
        from sys_dept d
        where d.is_delete = 0
        <if test="dto.deptName != null and dto.deptName != ''">
            and d.dept_name like concat('%', #{dto.deptName}, '%')
        </if>
        <if test="dto.status != null">
            and d.status = #{dto.status}
        </if>
        <if test="dto.excludeParentId != null">
            and not find_in_set(#{dto.excludeParentId}, d.ids)
        </if>
    </select>

    <select id="getDeptListByParentIds" resultType="com.pandama.top.user.entity.SysDept">
        select *
        from sys_dept
        where is_delete = 0
        <foreach collection="parentIds" item="item"  index="index" open=" AND (" close=")" separator=" OR ">
            find_in_set(#{item},  ids)
        </foreach>
        <if test="showParent != null and showParent == false">
            and id not in
            <foreach collection="parentIds" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
    </select>

</mapper>