<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pandama.top.user.mapper.UserMapper">

    <select id="page" resultType="com.pandama.top.user.pojo.vo.UserSearchResultVO">
        select
        u.*,
        d.dept_name,
        d.dept_code
        from sys_user u
        left join sys_user_dept du on u.id = du.user_id
        left join sys_dept d on d.id = du.dept_id
        where u.is_delete = 0
        <if test="dto.username != null and dto.username != ''">
            and u.username like concat('%', #{dto.username}, '%')
        </if>
        <if test="dto.realName != null and dto.realName != ''">
            and u.real_name like concat('%', #{dto.realName}, '%')
        </if>
        <if test="dto.phone != null and dto.phone != ''">
            and u.phone like concat('%', #{dto.phone}, '%')
        </if>
        <if test="dto.status != null">
            and u.status = #{dto.status}
        </if>
        <if test="dto.deptId != null and dto.deptId != ''">
            and find_in_set(#{dto.deptId}, d.ids)
        </if>
        <if test="dto.startCreateTime != null">
            and u.create_time between #{dto.startCreateTime} and #{dto.endCreateTime}
        </if>
        order by u.create_time desc
    </select>

    <select id="getUserListByDeptId" resultType="com.pandama.top.user.pojo.vo.UserDetailResultVO">
        SELECT
        u.*,
        d.dept_name,
        d.dept_code
        FROM sys_user u
        LEFT JOIN sys_user_dept du ON du.user_id = u.id
        LEFT JOIN sys_dept d ON d.id = du.dept_id
        WHERE d.id = #{deptId} AND u.is_delete = 0 AND u.status = 1
    </select>

    <select id="getSystemUserInfoById" resultType="com.pandama.top.user.pojo.vo.SystemUserInfoVO">
        SELECT
        u.*,
        u.id as user_id,
        d.id AS dept_id,
        d.dept_name,
        d.dept_code
        FROM sys_user u
        LEFT JOIN sys_user_dept du ON du.user_id = u.id
        LEFT JOIN sys_dept d ON d.id = du.dept_id
        WHERE u.id = #{userId} AND u.is_delete = 0 AND u.status = 1
    </select>

    <select id="getUserInfoById" resultType="com.pandama.top.user.pojo.vo.UserDetailResultVO">
        SELECT
        u.*,
        u.id as user_id,
        d.id AS dept_id,
        d.dept_name,
        d.dept_code
        FROM sys_user u
        LEFT JOIN sys_user_dept du ON du.user_id = u.id
        LEFT JOIN sys_dept d ON d.id = du.dept_id
        WHERE u.id = #{userId} AND u.is_delete = 0
    </select>

    <select id="getLoginInfoByUsernameOrPhone" resultType="com.pandama.top.user.open.pojo.vo.UserLoginVO">
        SELECT
        u.*
        FROM
        sys_user u
        WHERE
        u.is_delete = 0
        <if test="username != null and username.length > 0">
            and u.username = #{username}
        </if>
        <if test="phone != null and phone.length > 0">
            and u.phone = #{username}
        </if>
    </select>
</mapper>